.navbar {
    position: fixed;        /* Fixes the navbar to the top */
    top: 0;                 /* Aligns it to the top of the screen */
    left: 0;
    right: 0;
    z-index: 1000;          /* Keeps it above other elements */
    background-color: #1e1e1e;
    padding: 16px 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .navbar-logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #62a2e7;
  }
  
  .navbar-links a {
    margin-left: 24px;
    text-decoration: none;
    color: #f3eded;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #2b6cb0;
  }
  